body{
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
}

form{
    background-color: rgba(6, 17, 20, 0.60);
    border-radius: 20px;
}

form input[type="text"]{
    background-color: rgba(91, 97, 99, 0);
    border-bottom: 3px solid white;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    color: rgb(186, 186, 186);
}

form input[type="text"]:focus{
    outline: none;
}

form p{
    color: rgb(186, 186, 186);
}

/*--------BOOTSTRAP--------*/
  /*ExtraSmall devices [até 360px] */
  @media(max-width: 360px){
    body{
        background-position: center center;
    }

    form{
        width: 90%;
        height: 50px;
        margin: 200px auto 0px auto;
        padding: 20px;
        text-align: center;
    }

    #form_exibir{
        width: 90%;
        height: 250px;
        margin: 50px auto 0px auto;
        padding: 20px;
        text-align: center;
    }

    #form_exibir h2{
        margin-top: 5px;
        font-weight: bold;
        font-size: 25px;
        text-align: center;
    }
    
    form input[type="text"]{
        width: 80%;
        height: 80%;
        font-size: 20px;
    }
    
    form button img{
        width: 25px;
        height: 30px;
        cursor: pointer;
    }
  }
      
  /* Small divices [375px ou +] */
  @media(min-width: 375px){
    body{
        background-position: center center;
    }

    form{
        width: 80%;
        height: 50px;
        margin: 250px auto 0px auto;
        padding: 20px;
        text-align: center;
    }

    #form_exibir{
        width: 80%;
        height: 250px;
        margin: 50px auto 0px auto;
        padding: 20px;
        text-align: center;
    }

    #form_exibir h2{
        margin-top: 5px;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
    }
    
    form input[type="text"]{
        width: 80%;
        height: 80%;
        font-size: 20px;
    }
    
    form button img{
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
  }  

  /* Medium devices [768px ou +] */
  @media(min-width: 768px){
    body{
        background-position: 0 0 ;
    }

    form{
        width: 70%;
        height: 50px;
        margin: 250px auto 0px auto;
        padding: 20px;
        text-align: center;
    }

    #form_exibir{
        width: 70%;
        height: 250px;
        margin: 150px auto 0px auto;
        padding: 20px;
        text-align: center;
    }

    #form_exibir h2{
        margin-top: 5px;
        font-weight: bold;
        font-size: 35px;
        text-align: center;
    }
    
    form input[type="text"]{
        width: 80%;
        height: 80%;
        font-size: 30px;
    }
    
    form button img{
        width: 25px;
        height: 30px;
        cursor: pointer;
    }
  }    
      
  /* Large devices [992px ou +] */
  @media(min-width: 992px){
    body{
        background-position: center center;
    }

    form{
        width: 50%;
        height: 50px;
        margin: 300px auto 0px auto;
        padding: 20px;
        text-align: center;
    }

    #form_exibir{
        width: 50%;
        height: 270px;
        margin: 80px auto 0px auto;
        padding: 20px;
        text-align: center;
    }

    #form_exibir h2{
        margin-top: 5px;
        font-weight: bold;
        font-size: 40px;
        text-align: center;
    }
    
    form input[type="text"]{
        width: 80%;
        height: 70%;
        font-size: 40px;
        padding: 10px;
    }
    
    form button img{
        width: 25px;
        height: 30px;
        cursor: pointer;
    }
  }
/*-----------------------------*/